BOT_TOKEN=توكن_البوت_من_BotFather
WORKER_URL=https://worker-url.up.railway.app
INTERNAL_SECRET=السر_المشترك_مع_ال_Worker
DATABASE_URL=
ADMIN_IDS=123456789,987654321

CF_ACCOUNT_ID=
CF_KV_ID=
CF_API_TOKEN=
CF_WEBHOOK_BASE=https://my-php-hosting.macrogemini27.workers.dev
