telethon
aiohttp
aiofiles
aiosqlite
quart
uvicorn
httpx
flask
waitress
cryptography
rich
pydantic
pydantic-settings
loguru
beautifulsoup4
Pillow
requests
python-dateutil
apscheduler
schedule
pyTelegramBotAPI
python-dotenv
